{% extends 'index/base.html' %}
{% load static %}
{% block title %}Whoops{% endblock %}
{% block styles %}{% endblock %}

{% block main %}

<div class="main">

{#popup#}
<div class="b-container invisible">
    <div class="b-popup-content">
        <p id="popup_text">Text in Popup</p>
        <button id="popup_ok">OK</button>
    </div>
</div>
<div class="b-popup invisible"></div>
{#popup end#}


<div>

    <div style="margin-top: 150px">
        There is alredy account with such login or email.<br>
        To connect social accounts sign in with existing account.
    </div>


</div>
</div>



{% endblock %}