html {
    height: 100%;
}

body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background: #cfd8dc; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #cfd8dc 0%, #607d8b 100%, #b0bec5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-attachment: fixed;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	/*color: #b2c0c7;*/
	color: white;
	z-index: 2;
}

.none{
	display: none !important;
}

/*.main {*/
	/*width: 100%;*/
	/*min-height: calc(100vh - 100px);*/
	/*background: #cfd8dc; !* Old browsers *!*/
	/*background: -moz-linear-gradient(-45deg,  #cfd8dc 0%, #607d8b 100%, #b0bec5 100%); !* FF3.6-15 *!*/
	/*background: -webkit-linear-gradient(-45deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); !* Chrome10-25,Safari5.1-6 *!*/
	/*background: linear-gradient(135deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
/*}*/

button:active,
button:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#header-scroll {
	height: 80px;
	background-color: grey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	-ms-transition:     all 0.3s ease-out;
	-moz-transition:    all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition:      all 0.3s ease-out;
	transition:         all 0.3s ease-out;
	left:0;
	top:0;
	float:left;
	position:fixed;
	z-index: 20;
	border-radius: 0 0 5px 5px;
}

#header-scroll h1 {
	font-family: Arial;
	color: #b2c0c7;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-top: 20px;
	margin-left: 20px;
	-ms-transition:    all 0.3s ease-out;
	-moz-transition:    all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition:      all 0.3s ease-out;
	transition:         all 0.3s ease-out;
}

#sub_header {
	display: flex;
	align-items: center;
}

#sub_header p {
	color: #4e4e4e;
	margin-right: 10px;
	font-size: 24px;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-transition:    all 0.3s ease-out;
	-moz-transition:    all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition:      all 0.3s ease-out;
	transition:         all 0.3s ease-out;
}

#sub_header a {
	margin-right: 40px;
	font-size: 24px;
	-ms-transition:    all 0.3s ease-out;
	-moz-transition:    all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition:      all 0.3s ease-out;
	transition:         all 0.3s ease-out;
}

#header-scroll.small {
	opacity: 0.8;
	height: 50px;
	line-height: 35px;
}

#header-scroll.small h1{
	height: 70px;
	line-height: 35px;
	font-size: 25px;
	margin-top: 7px;
	margin-left: 10px;
}

#sub_header.small p{
	margin-right: 10px;
	font-size: 14px;
}

#sub_header.small a{
	margin-right: 10px;
	font-size: 17px;
}

.cont_centrar {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 100px;
}

.cont_login {
	position: relative;
	width: 940px;
	margin: auto;
}

.cont_forms {
	opacity: 0;
	visibility: hidden;
	border-radius: 5px;
	position: absolute;
	overflow: hidden;
	top:200px;
	left: 160px;
	width: 470px;
	height: 280px;
	background-color: #eee;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_login {
	opacity: 1;
	visibility: visible;
	box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
	height: 620px;
	top:0;
	left: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-bottom: 100px;
}

.cont_forms_active_sign_up {
	opacity: 1;
	visibility: visible;
	box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
	height: 620px;
	top:0;
	left:470px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-bottom: 100px;
}

.cont_img_back_grey {
	position: absolute;
	width: 1100px;
	top:-80px;
	left: -116px;
}

.cont_img_back_grey > img {
	width: 100%;
	-webkit-filter: grayscale(100%);     filter: grayscale(100%);
	opacity: 0.8;
	animation-name: animar_fondo;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.cont_img_back_ {
	position: absolute;
	width: 1100px;
	top:-80px;
	left: -116px;
}

.cont_img_back_ > img {
	width: 100%;
	opacity: 0.7;
	animation-name: animar_fondo;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
	top:0px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
	top:0px;
	left: -586px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.col_md_login {
	position: relative;
	float: left;
	width: 50%;
}

.col_md_login > h2 {
	font-weight: 400;
	margin-top: 70px;
	color: #757575;
}

.col_md_login > p {
	font-weight: 400;
	margin-top: 15px;
	width: 80%;
	color: #37474F;
}

.btn_login {
	background-color: #26C6DA;
	border: none;
	padding: 10px;
	width: 200px;
	border-radius:3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.btn_login:active,
.btn_login:focus,
.btn_login.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.col_md_sign_up {
	position: relative;
	float: left;
	width: 50%;
}

.cont_ba_opcitiy > h2 {
	font-weight: 400;
	color: #fff;
}

.cont_ba_opcitiy > p {
	font-weight: 400;
	margin-top: 15px;
	color: #fff;
}

.col_md_succses {
	visibility:hidden;
	opacity:0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	width: 100%;
}

.col_md_recover {
	visibility:hidden;
	opacity:0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	float: left;
	width: 100%;
}

.visible{
	visibility:visible;
	opacity:1;
}

.invisible{
	visibility:hidden;
	opacity:0;
}

/* ----------------------------------
background text
------------------------------------
 */

.cont_ba_opcitiy {
	background-color: rgba(120, 144, 156, 0.55);
	width: 80%;
	border-radius:3px;
	margin: auto;
	padding: 15px 0;
}

.btn_sign_up {
	background-color: #ef5350;
	border: none;
	padding: 10px;
	width: 200px;
	border-radius:3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
	text-decoration: none;
	decoration: none;
}

.btn_sign_up:active,
.btn_sign_up:focus,
.btn_sign_up.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cont_forms_active_sign_up {
    z-index: 2;
}

@-webkit-keyframes animar_fondo {
    from {
        -webkit-transform: scale(1) translate(0px);
        -moz-transform: scale(1) translate(0px);
        -ms-transform: scale(1) translate(0px);
        -o-transform: scale(1) translate(0px);
        transform: scale(1) translate(0px);
    }
    to {
        -webkit-transform: scale(1.5) translate(50px);
        -moz-transform: scale(1.5) translate(50px);
        -ms-transform: scale(1.5) translate(50px);
        -o-transform: scale(1.5) translate(50px);
        transform: scale(1.5) translate(50px);
    }
}

@-o-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@-moz-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.cont_form_login {
	position: absolute;
	opacity: 0;
	display: none;
	width: 470px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_form_login p {
	cursor: pointer;
}

.cont_form_forgot {
	position: absolute;
	opacity: 0;
	display: none;
	width: 470px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_form_forgot p {
	cursor: pointer;
}

.cont_forms_active_login {
	z-index: 2;
}

.cont_form_sign_up {
	position: absolute;
	width: 470px;
	float: left;
	opacity: 0;
	display: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.cont_form_sign_up > input {
	text-align: left;
	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
	width: 260px;
	border: none;
	color: #757575;
}

.cont_form_sign_up > h2 {
    margin-top: 50px;
    font-weight: 400;
    color: white;
}

.cont_form_login > input {
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;
}

.cont_form_login > h2 {
    margin-top: 110px;
    font-weight: 400;
    color: white;
}

.cont_form_login > a,.cont_form_sign_up > a, .cont_form_forgot > a {
	color: white;
	font-size: 24px;
	position: relative;
	float: left;
	margin: 10px;
	margin-left: 30px;
}

.cont_form_forgot > input {
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;
}

.cont_form_forgot > h2 {
    margin-top: 110px;
    font-weight: 400;
    color: white;
}

#forms_wrap::after {
	content: "";
	background: rgba(255,255,255, .1);
	width: 100%;
	height: 100%;
	border-radius: 6px;
	position: absolute;
	right: -30px;
	top: 167px;
	transform: translateY(-50%);
	z-index: -1;
}

.input_index {
	border-radius: 5px;
	text-align: left;
	padding: 15px 5px;
	margin-left: 10px;
	margin-top: 20px;
	width: 260px;
	border: none;
	color: #757575;
}

.pwd_bar, .pwd_bar>.pwd_over {
    display: inline-block;
    height: 4px;
    right: 0px;
    z-index: 2;
}

.pwd_bar, .pwd_bar>.pwd_fill {
    display: inline-block;
    height: 4px;
    border-radius: 2px;
    left: 0px;
    z-index: 1;
}

.pwd_bar {
    position: relative;
    background: #d9d9d9;
    width: 290px;
    margin-top: 20px;
    border-radius: 2px;
}

.pwd_fill {
    position: absolute;
    width: 290px;
    background-image: linear-gradient(to left, #78be20, #bea920, #be3420);
}
.pwd_over {
	position: absolute;
	background: #d9d9d9;
}

.pwd_complex {
	font: 400 11px system-ui;
	display:  inline-block;
	margin-top: 10px;
	color: #ffffff;
	background-color: #0a0a0a47;
	border-radius: 5px;
	padding: 2px 3px 3px 3px;
	margin-bottom: 10px;
}

#oauth {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
}

#oauth i, #oauth img {
	margin: 0 10px;
	cursor: pointer;
	color: black;
}

#oauth a:visited {
	text-decoration: none;
	decoration: none;
}

#logo_42 {
	width: 45px;
}


/*preloader*/

#preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999999;
	background: #cfd8dc; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #cfd8dc 0%, #607d8b 100%, #b0bec5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#loader {
    position: absolute;
    top: calc(40% - 128px);
    left: calc(50% - 128px);
    width: 256px;
    height: 256px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.valid {
	box-shadow: 0 0 10px rgba(42, 222, 31, 0.98);
}

.unvalid {
	box-shadow: 0 0 10px rgb(241, 15, 15);
}

textarea:focus, input:focus {
	outline: none;
}

.none {
	display: none;!important;
}

#activation_text_box {
	z-index: 1;
	margin: 0 auto;
	left: 0;
	right: 0;
    border-radius: 5px;
	position: absolute;
	/*!*float: left;*!*/
	width: 940px;
	height: 280px;
	overflow: hidden;
	/*background-color: #fff;*/
	box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

#activation_text_box p {
	font-weight: 400;
	font-size: 28px;
	position: relative;
	top: 75px;
	margin: 0 auto;
	color: #fff;
	background: rgba(120, 144, 156, 0.79);
	max-width: 500px;
	border-radius: 5px;
	min-height: 38px;
}

#activation_text_box::after {
	content: "";
	background: rgba(255,255,255, .1);
	width: 940px;
	height: 280px;
	border-radius: 10px;
	position: absolute;
	right: -30px;
	top: 167px;
	transform: translateY(-50%);
	z-index: -1;
}

.padding{
	content: none;
	padding-top: 200px;
}

#go_home_btn, #change_pwd_btn{
	position: relative;
	top: 100px;
}

#recover_input{
	position: relative;
	top: 75px;
}

#recover_wrap{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#responce_wrap{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#head_logout_btn.small {
	background-color: #cc15032e;
	border: none;
	margin-right: 40px;
	width: 30px;
	padding: 0px 0px 0px 2px;
	border-radius: 3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #849ba5;
	margin-top: 0px;
	cursor: pointer;
	text-decoration: none;
	line-height: 30px;
}

#head_logout_btn{
	background-color: #cc1503ab;
	border: none;
	padding: 3px;
	width: 40px;
	border-radius: 3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #a1daf3;
	cursor: pointer;
	text-decoration: none;
}

#head_logout_btn a {
	text-decoration: none;
}

.lang_wrap {
	margin-left: 30px;
}

.flags {
	cursor: default;
	max-height: 30px;
	margin-left: 10px;
}

.inactive_flag {
	cursor: pointer;
	opacity: 0.2;
}

.cont_info_log_sign_up {
	position: absolute;
	width: 100%;
	height: 280px;
	/*top: 200px;*/
	z-index: 1;
    display: flex;
    align-items: center;
}

.cont_back_info {
	border-radius: 5px;
	position: relative;
	/*float: left;*/
	width: 940px;
	height: 280px;
	overflow: hidden;
	background-color: #fff;
	/*margin-top: 200px;*/
	margin: 200px auto 0;
	box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

#menu a{
	color: black;
	text-decoration: none;
	font-family: Font Awesome\ 5 Free;
	font-weight: 900;
}

#menu a i {
	margin-right: 5px;
}

#menu a:hover{
	/*color: black;*/
	opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
    #header-scroll {
        height: 50px;
        line-height: 35px;
    }

    #header-scroll h1{
        height: 70px;
        line-height: 35px;
        font-size: 25px;
        margin-top: 7px;
        margin-left: 10px;
    }

    #sub_header p{
        margin-right: 10px;
        font-size: 14px;
    }

    #sub_header a{
        margin-right: 20px;
        font-size: 17px;
    }

    .cont_login {
        max-width: 90%;
    }

    .cont_info_log_sign_up {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /*top: 200px;*/
        height: 530px;
        background: rgba(255,255,255, .1);
        border-radius: 0;
    }

    #forms_wrap::after {
		right: -10px;
		top: 278px;
        /*display: none;*/
    }

    .col_md_login, .col_md_sign_up {
        width: 90%;
    }

    .cont_back_info {
        width: 100%;
        height: 530px;
        /*margin-top: 200px;*/
    }

    .cont_forms {
        left: 0;
		max-width: 100%;
    }

    .cont_forms_active_login, .cont_forms_active_sign_up {
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        margin: 0 auto 100px;
    }

    .cont_form_login, .cont_form_sign_up, .cont_form_forgot {
        max-width: 100%;
    }

    #activation_text_box {
        max-width: 90%;
		height: 530px;
    }

	#activation_text_box::after {
		top: 300px;
		height: 530px;
	}

	#menu a{
		font-size: 16px;
		margin-right: 10px;
	}
}

#menu.small {
	opacity: 0.5;
}