.edit_tabs {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  height: 465px;
        overflow: hidden;
    border-radius: 3px;
}

section {
  display: none;
  border-top: 2px solid #c5bebd;
  height: 415px;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #696666;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #272424;

  border-top: 2px solid #ff6600;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: flex;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

#content2{
    flex-direction: column;
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.background{
    position: relative;
    top: -470px;
    left: -10px;
    opacity: 0.5;
}

.background img{
    width: 120%;
    /* height: 100%; */
    filter: grayscale(-30%);
    opacity: 0.8;
    animation-name: animar_fondo;
    animation-duration: 80s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.tabs{
    position: relative;
    z-index: 1;
}

.edit_tabs::after {
    content: "";
    background: rgba(255, 255, 255, 0.05);
    width: 810px;
    height: 437px;
    border-radius: 10px;
    position: absolute;
    /*right: 326px;*/
    top: 233px;
    transform: translateX(-47%);
    /* z-index: -1; */
}

#photo_section{
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: center;
    margin-top: 20px;
}

#photo_section img{
    width: 200px;
    overflow: hidden;
    margin-top: 26px;
    border-radius: 4px;
    border: solid #d8d2d2 2px;
}

#photo_section button{
background-color: #26c6dac7;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    outline:none;
}

#info_section{
    width: calc(100% - 275px);
    margin-top: 42px;
}

#info_section input{
    display: block;
}

#info_section form{
    display: flex;
    flex-direction: column;
}

#names{
    display: flex;
    width: 100%;
    margin-top: 15px;
}

#info_section form .input_index{
    width: 233px;
    margin-left: 0;
    margin-right: 10px;
    padding: 15px 7px;
}

#info_section form p{
    display: flex;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -10px;
    font-size: 16px;
    margin-left: 7px;
    color: #484646cc;
}

#info_section button{
background-color: #ef4646bd;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    cursor: pointer;
    outline:none;
    margin: 26px auto;
}

#pass .input_index{
    width: 233px;
    margin-left: 0;
    margin-right: 10px;
    padding: 15px 7px;
    display: block;
}

#acc_section{
    width: 100%;
}

#pass{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

#content2 p {
    display: flex;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -10px;
    font-size: 16px;
    margin-left: 7px;
    color: #484646cc;
}

#acc_section button {
    background-color: #ef4646bd;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 26px auto;
}

.social_section_button {
    background-color: #8299a3;
    border: none;
    padding: 11px;
    width: 270px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 5px 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#social_section{
    margin-top: 25px;
}

#social_section p{
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
    color: #333131d9;
}

#social_section i{
    margin-right: 10px;
}

#content2{
    align-items: center;
}

#social_section #logo_42{
    width: 20px;
    filter: invert(100%);
    margin-bottom: -5px;
    margin-right: 10px;
}

.active{
    background-color: #00800069;
    cursor: auto;
}