.main_player{
    /*position: absolute;*/
    width: 100%;
    /*height: 100%;*/
    min-height: calc(100vh - 85px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
	background: #cfd8dc; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #cfd8dc 0%, #607d8b 100%, #b0bec5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#about_film {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#film_poster_info {
    display: flex;
    width: 95%;
    /*flex-direction: row;*/
    /*background: #abdcab2e;*/
}

#film_poster {
    width: 300px;
}

#film_poster img{
    width: 100%;
    overflow: hidden;
}

#film_info {
    margin-left: 20px;
    text-align: left;
    max-width: 600px;
}

#film_info p span {
    font-weight: bold;
}

#player_wrap {
	display: flex;
    /*margin: 0 auto;*/
    width: 100%;
    justify-content: center;
}

#player_wrap iframe {
    border: none;
}

.download_btn {
    padding: 10px;
    margin: 10px auto;
    border: none;
    width: 100px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    outline: none;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#btn_high {
    background-color: #ef5350;
}

#btn_low {
   background-color: #26C6DA;
}

#torrent_info {
    display: none;
    width: 100%;
}

.info_wrap{
	width: 100%;
    /*margin: 30px auto 0;*/
    display: flex;
    padding-bottom: 50px;
    justify-content: space-evenly;
}

.comments_wrap{
	width: 60%;
    max-width: 900px;
    margin-right: 10px;
    background: #dee4e41a;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
	flex-direction: column;
}

.leave_comment{
	margin: 10px 0 0;
	display: flex;
    align-items: center;
	padding: 10px 0;
    border-bottom: 2px solid #8199a3;
    border-radius: 5px;
}

.leave_comment img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
    margin: 0 auto;
}

.leave_comment button {
	margin: 0 auto;
    background-color: #8199a3;
    border: none;
    padding: 10px;
    width: 110px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    outline: none;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#comment_text{
	margin: 0 auto;
	resize: none;
    color: #999;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 60%;
    background: #ffffff47;
    border-radius: 3px;
    line-height: 2em;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    padding: 5px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}

#comment_text:focus{
	background: #fff;
}

.comments{
    list-style: none;
    /*padding: 0;*/
    width: 100%;
    /*margin: 40px auto 40px;*/
    margin-top: 0;
    padding-bottom: 10px;
}

.comment{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.comment_avatar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left: 10px;
    top: 50px;
    border: 1px solid #8c8a8a3b;
    position: relative;
    align-self: flex-start;
}

.no_avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left: 10px;
    top: 50px;
    border: 1px solid #8c8a8a3b;
    position: relative;
    align-self: flex-start;
    background: url(default_photo.png);
    background-size: cover;
}

.com_name_and_del {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 5px;
}

.com_name {
	position: relative;
    /*!*text-align: left;*!*/
    left: 50px;
	/*bottom: 5px;*/
    /*align-self: flex-start;*/
}

.com_name i{
	margin-right: 10px;
}

.del_comm {
    cursor: pointer;
}

.comm_text {
    margin: 0;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    text-align: left;
	padding: 10px;
	font-size: 15px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	color: #3e3e3e;
	background: #ffffff30;
    width: 80%;
}

.comm_text p {
    padding: 0 10px;
}

.edit_comm {
    display: flex;
    /*padding: 25px 10px;*/
}

.edit_comm input {
    width: 100%;
    background: none;
    border: none;
    padding: 15px;
}

.edit_comm button {
    margin: 0 auto;
    background-color: #8199a3;
    border: none;
    /*padding: 10px;*/
    width: 110px;
    height: inherit;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    outline: none;
    /*-moz-transition: all 0.5s ease-out;*/
    /*-webkit-transition: all 0.5s ease-out;*/
    /*-o-transition: all 0.5s ease-out;*/
    /*transition: all 0.5s ease-out;*/
    visibility: hidden;
}

.film_info{
	width: 30%;
    max-width: 500px;
    background: #abdcab2e;
    display: flex;
}

.info_list {
    /*list-style: none;*/
    /*text-align: left;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    width: 95%;
    margin: 0 auto;
}

.info_label{
	border-bottom: 1px solid #888585b3;

}

.info_body{
	font-size: 13px;
    color: #484848;
	margin: 0;
}

.info_elem{
    display: flex;
    margin: 5px 0;
}

.info_elem_img{
    height: 100px;
    width: 70px;
    overflow: hidden;
}

.info_elem_img img {
    width: 100%;
    overflow: hidden;
}

#progressbar{
    height: 26px;
    position: relative;
    width: 640px;
    background: #abdcab2e;
    border-radius: 10px;
    margin: 20px auto;
    /*padding: 2px;*/
}

#loading{
    transition: all 500ms ease;
    height: 20px;
    width: 0;
    border-radius: 8px;
    background: #1a9e1a54;
    position: absolute;
    left: 0;
    margin: 3px;
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    iframe {
        width: 95%;
        height: auto;
    }

    .info_wrap {
        flex-direction: column;
    }

    .film_info {
        width: 100%;
        order: -1;
        align-self: center;
    }

    .comments_wrap {
        width: 100%;
        background: none;
        /*margin-top: 10px;*/
    }
    .leave_comment button {
        height: 70px;
        margin: 0 5px 0;
    }

    #film_poster_info {
        flex-direction: column;
        align-items: center;
    }
}