<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta http-equiv="content-type" content="text/html" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Activation</title>

    <link rel="icon" type="image/png" href="{% static "index/favicon.ico"%}" />
	<!-- Stylesheets
	================================================= -->
	<link rel="stylesheet" href="{% static "index/styles.css" %}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
	<div id="preloader">
	<div id="loader">
		<div class="inner one"></div>
  		<div class="inner two"></div>
		<div class="inner three"></div>
	</div>
	</div>

	<header>
		<div id="header-scroll">
		<h1>HyperTube</h1>
{#		<div id="sub_header">#}
{#			<p>Name</p>#}
{#			<p>Last name</p>#}
{##}
{#			<a href="">Logout</a>#}
{#		</div>#}
		</div>
	</header>


    <div id="activation_text_box">
        <div class="cont_img_back_grey">
            <img src="{% static "index/forest.jpg" %}" alt="" />
        </div>
        <p>{{ response }}, procede to index page</p>
        <a class="btn_sign_up" href="{% url 'index' %}" id="go_home_btn">GO HOME</a>
    </div>
	<footer>
        <div class="lang_wrap">
        {% if request.session.lang == 2 %}
            <a><img class="flags" src="{% static "index/ru.png" %}"></a>
            <a href="{% url 'change_lang' lang='en'%}"><img class="flags inactive_flag" src="{% static "index/gb.png" %}"></a>
        {% else %}
            <a href="{% url 'change_lang' lang='ru'%}"><img class="flags inactive_flag" src="{% static "index/ru.png" %}"></a>
            <a><img class="flags" src="{% static "index/gb.png" %}"></a>
        {% endif %}
        </div>
		<div style="margin-right: 5px">rkhilenk vibonar anaumenk</div>
	</footer>
	<script src="{% static "index/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "user/user.js" %}"></script>
</body>
</html>