{% extends 'index/base.html' %}
{% load static %}
{% load socialaccount %}
{% csrf_token %}
{% block title %}User profile{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "user/user_tabs.css" %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block main %}
{% csrf_token %}
<div class="main">
{#popup#}
    <div class="b-container invisible">
        <div class="b-popup-content">
            <p id="popup_text">Text in Popup</p>
            <button id="popup_ok">OK</button>
        </div>
    </div>
    <div class="b-popup invisible"></div>
{#popup end#}

    <div class="edit_tabs">
        <div class="tabs">

            <input id="tab1" type="radio" name="tabs" {% if not last_social_connect %}checked{% endif %}>
            <label for="tab1"><i class="fas fa-user-alt"></i>{% if request.session.lang == 2 %} Профиль{% else %} Profile{% endif %}</label>

            <input id="tab2" type="radio" name="tabs" {% if last_social_connect %}checked{% endif %}>
            <label for="tab2"><i class="fas fa-lock"></i>{% if request.session.lang == 2 %} Аккаунты{% else %} Accounts{% endif %}</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3"><i class="fas fa-video"></i>{% if request.session.lang == 2 %} Фильмы {% else %}Films{% endif %}</label>

            <section id="content1">
                <div id="photo_section">
                    {% if profile_user.avatar %}
                        <img src="/media/{{ profile_user.avatar }}">
                    {% else %}
                        <img src="{% static "user/default_photo.png" %}">
                    {% endif %}

                    <label for="image_to_upload" class="custom-file-upload" id="image_to_upload_label">
                    {% if request.session.lang == 2 %}Загрузить{% else %}Upload{% endif %}
                    </label>
                    <input id="image_to_upload" type="file"/>

                </div>
                <div id="info_section">
                    <form onsubmit="usr_info_change()">
                        <div id="names">
                            <div>
                                <p>{% if request.session.lang == 2 %}Имя{% else %}First Name{% endif %}</p>
                                <input id="f_name" class="input_index" type="text" placeholder="fitst name" value="{{ profile_user.first_name }}" required>
                            </div>
                            <div>
                                <p>{% if request.session.lang == 2 %}Фамилия{% else %}Last Name{% endif %}</p>
                                <input id="l_name" class="input_index" type="text" placeholder="last name" value="{{ profile_user.last_name }}" required>
                            </div>
                        </div>
                            <div id="email_in">
                                <p>{% if request.session.lang == 2 %}Почта{% else %}Email{% endif %}</p>
                                <input id="email" class="input_index" type="email" placeholder="email" value="{{ profile_user.email }}" required>
                            </div>
                        <button id="change_info_btn">{% if request.session.lang == 2 %}Cохранить{% else %}Save{% endif %}</button>
                    </form>
                </div>
            </section>

            <section id="content2">
                <div id="acc_section">
                    <form onsubmit="usr_pwd_change()">
                        <div id="pass">
                            <div>
                                <p>{% if request.session.lang == 2 %}Пароль{% else %}Password{% endif %}</p>
                                <input id="usr_pwd1" class="input_index" type="password" placeholder="new password" required>
                            </div>
                            <div>
                                <p>{% if request.session.lang == 2 %}Еще разок{% else %}Onse more{% endif %}</p>
                                <input id="usr_pwd2" class="input_index" type="password" placeholder="repeat password" required>
                            </div>
                        </div>
                        <button id="usr_pwd_btn">{% if request.session.lang == 2 %}Cохранить{% else %}Save{% endif %}</button>
                    </form>
                </div>

                <div id="social_section">
                    <p>{% if request.session.lang == 2 %}Социальные сети{% else %}Connect social accounts{% endif %}</p>
                    <table>
                        <tr>
                            {% if "provider42" in active_providers %}
                            <td><a  class="social_section_button active" disabled><img src="{% static "index/42_logo.png" %}" id="logo_42">Intra 42</a></td>
                            {% else %}
                            <td><a href="{% provider_login_url "provider42" process="connect" %}" class="social_section_button"><img src="{% static "index/42_logo.png" %}" id="logo_42">Intra 42</a></td>
                            {% endif %}

                            {% if "google" in active_providers %}
                            <td><a class="social_section_button active" disabled><i class="fab fa-google-plus-g"></i>Google</a></td>
                            {% else %}
                            <td><a href="{% provider_login_url "google" process="connect" %}" class="social_section_button"><i class="fab fa-google-plus-g"></i>Google</a></td>
                            {% endif %}

                        </tr>
                        <tr>
                            {% if "facebook" in active_providers %}
                            <td><a class="social_section_button active" disabled><i class="fab fa-facebook-f"></i>Facebook</a></td>
                            {% else %}
                            <td><a href="{% provider_login_url "facebook" process="connect" %}" class="social_section_button"><i class="fab fa-facebook-f"></i>Facebook</a></td>
                            {% endif %}

            {#                <td><a class="social_section_button"><i class="fab fa-github"></i>GitHub</a></td>#}
                        </tr>
                    </table>
                </div>

            </section>

            <section id="content3">
                <div id="viewed_films">
                    {% if viewed_movie_count > 0 %}
                        {% for movie in viewed_movie %}
                        <a href="{{ movie.id }}" title="{{ movie.title_english }}">
                            <div>
                                {% if movie.poster %}
                                    <img src="/media/covers/{{ movie.poster }}">
                                {% else %}
                                    <img src="{% static "search/nocover.png" %}">
                                {% endif %}
                            </div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <p>{% if request.session.lang == 2 %}Тут должны быть фильмы, а их нет :({% else %}You have not watched any movie :({% endif %}</p>
                    {% endif %}
                </div>
            </section>


        </div>
        <div class="background">
            <img src="{% static "user/user_back.jpg" %}">
        </div>

    </div>
</div>

{% endblock %}
