<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta http-equiv="content-type" content="text/html" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Usver profile</title>

    <link rel="icon" type="image/png" href="{% static "index/favicon.ico" %}" />
	<!-- Stylesheets
	================================================= -->
    <link rel="stylesheet" href="{% static "user/user_tabs.css" %}" />
	<link rel="stylesheet" href="{% static "index/styles.css" %}" />
    <link rel="stylesheet" href="{% static "user/styles.css" %}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
	<div id="preloader">
	<div id="loader">
		<div class="inner one"></div>
  		<div class="inner two"></div>
		<div class="inner three"></div>
	</div>
	</div>
	
	<header>
		<div id="header-scroll">
		<h1>HyperTube</h1>
		<div id="sub_header">
			<p>Name</p>
			<p>Last name</p>

			<a href="">Logout</a>
		</div>
		</div>
	</header>


	<div class="main">
        <p style="height: 150px"></p>
{#        <div id="user_card_wrap">#}
{#            <div id="personal_info">#}
{#                <div id="photo_section">#}
{#                    <img src="{% static "user/default_photo.jpg" %}">#}
{#                </div>#}
{#                <div id="info section">#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
<div class="edit_tabs">
    <div class="tabs">

    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><i class="fas fa-user-alt"></i> Profile</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><i class="fas fa-lock"></i> Accounts</label>


    <section id="content1">
    <div id="photo_section">
        <img src="{% static "user/default_photo.png" %}">
        <button>Upload</button>
    </div>
    <div id="info_section">
        <form>
            <div id="names">
                <div>
                    <p>First Name</p>
                    <input id="f_name" class="input_index" type="text" placeholder="fitst name">
                </div>
                <div>
                    <p>Last Name</p>
                    <input id="l_name" class="input_index" type="text" placeholder="last name">
                </div>
            </div>
                <div id="email_in">
                    <p>Email</p>
                    <input id="email" class="input_index" type="email" placeholder="email">
                </div>
            <button>Save</button>
        </form>
    </div>


    </section>

    <section id="content2">
        <p>
          Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
        </p>
      </section>


    </div>
    <div class="background">
        <img src="{% static "user/wh_landscape.jpg" %}">
    </div>

</div>

	</div>
	<footer>
		<div>vibonar rkhilenk</div>
	</footer>
	<script src="{% static "index/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "user/user.js" %}"></script>
</body>
</html>