#main_search{
    width: 1280px;
    height: 1000px;
    border-radius: 5px;
    /*background: #82535314;*/
    margin: 0 auto 20px;
}

#main_search table{
    width: 100%;
}

.main{
    padding-bottom: 50px;
}

.search_row{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.search_item{
    margin: 5px;
    width: 19%;
    height: 300px;
    display: block;
    background: #82535314;
    overflow: hidden;
    border-radius: 2px;
}

.search_item div{
    position: relative;

}


.search_item img{
    left: 50%;
    margin-left: -100%;
    position: relative;
}

.search_item p{
    position: relative;
}

.poster{
    max-height: 400px;
    /*transition: all 550ms cubic-bezier(0.03, 1.07, 0.4, 0.99);*/

        -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

.search_item:hover .poster{
    max-height: 200px;
}

#pagination{
    margin-top: 10px;
}

.p_item{
    background-color: #26C6DA;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
}

.active{
    background-color: #2644da29;
    cursor: default;
}