a {
    text-decoration: none;
}

.results-item-year {
    font-size: 1.1rem;
    /*color: #2E9AFE;*/
    color: white;

    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
}

.results-item-title {
    font-size: 1.1rem;
    line-height: 1;
    color: white;
    text-align: left;
    overflow: hidden;
    height: 36px;
    padding: 10px 10px 0;
}

.results-item-rating {
    font-size: 1.1rem;
    color: #FFFF00;
    position: absolute;
    bottom: 0;
    padding: 0 0 10px 10px;
}

.active {
    background-color: #2644da29;
    cursor: default;
}

.results-item-wrap {
    vertical-align: top;
    width: 200px;
    overflow:hidden;
    text-align: justify;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    height: 420px;
    box-shadow:0 0 30px 10px #607D8B;
}

.results-item-wrap:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.results-wrap {
    position: relative;
    padding: .8rem 0 60px;
}

div {
    display: block;
}

ul {
	padding: 0;
}

.div_poster {
    display: flex;
    height: 345px;
    justify-content: center;
    align-items: center;
}

.poster {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

.no_poster {
    background: url("nocover.png") center no-repeat;
}

#head_search_input{
	border-radius: 5px;
	text-align: left;
	padding: 12px 5px;
	margin-left: 10px;
	width: 260px;
	border: none;
	color: #757575;
	margin-bottom: 3px;
	display: inline;
}

#head_search_btn {
	background-color: #26C6DA;
	border: none;
	padding: 10px;
	margin-right: 40px;
	width: 100px;
	/*padding-left: 2px;*/
	border-radius: 3px;
	box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.styled-select select {
    margin-top: 7px;
    height: 37px;
    border-radius: 5px;
	text-align: left;
	padding: 12px 5px;
	width: 260px;
	border: none;
	color: #757575;
	margin-bottom: 3px;
	display: inline;
    background: white;
}

@media only screen and (max-width: 539px) {
    #search_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #head_search_btn {
        margin: 5px 0 0 0;
    }
}