a {
    text-decoration: none;
}

#main_search{
    border-radius: 5px;
    margin: 0 auto 20px;
}

#main_search table{
    width: 100%;
}

.main{
    padding-bottom: 50px;
}

.results-item-year {
    font-size: 1.1rem;
    /*color: #2E9AFE;*/
    color: white;

    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
}

.search_row{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
}

.search_item {
    margin: 5px;
    width: 19%;
    height: 300px;
    display: block;
    background: #82535314;
    overflow: hidden;
    border-radius: 2px;
}

.search_item div {
    position: relative;
}

.search_item img {
    left: 50%;
    margin-left: -100%;
    position: relative;
}

.search_item p {
    position: relative;
}

.search_item:hover .poster{
    max-height: 200px;
}

#pagination{
    margin-top: 10px;
}

.p_item{
    background-color: #26C6DA;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
}

.results-item-title {
    font-size: 1.1rem;
    line-height: 1;
    color: white;
    text-align: left;
    overflow: hidden;
    height: 36px;
    padding: 10px 10px 0;
}

.results-item-rating {
    font-size: 1.1rem;
    color: #FFFF00;
    position: absolute;
    bottom: 0;
    padding: 0 0 10px 10px;
}

.active {
    background-color: #2644da29;
    cursor: default;
}
.results {
    list-style: none;
    margin: 0;
    padding: 0 16px;
    overflow: hidden;
}

.styled-select select {
    margin-top: 7px;
    background: #26C6DA;
    width: 268px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #26C6DA;
    height: 34px;
}

.results-item-wrap, .spacer {
    vertical-align: top;
    width: 200px;
    overflow:hidden;
    text-align: justify;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
}

.results-item-wrap {
    height: 420px;
    box-shadow:0 0 30px 10px #607D8B;
}

.results-item-wrap:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.results-wrap {
    position: relative;
    padding: .8rem 0 60px;
}

div {
    display: block;
}

ul {
	padding: 0;
}

.div_poster {
    display: flex;
    height: 345px;
    justify-content: center;
    align-items: center;
}

.poster {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}

.no_poster {
    background: url("nocover.png") center no-repeat;
}