{% extends 'index/base.html' %}
{% load static %}
{% block title %}Search{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static "search/styles.css" %}" />
{% endblock %}
{% block script %}
<script src="{% static "search/search.js" %}"></script>
{% endblock %}

{% block main %}

<div class="main">
{% csrf_token %}

{#popup#}
<div class="b-container invisible">
    <div class="b-popup-content">
        <p id="popup_text">Text in Popup</p>
        <button id="popup_ok">OK</button>
    </div>
</div>
<div class="b-popup invisible"></div>
{#popup end#}


<div id="main_search">

    <form id="search_form">
        <input id="head_search_input" type="text" placeholder="{% if request.session.lang == 2 %}Фильм{% else %}Film{% endif %}">
        <button id="head_search_btn" type="submit">{% if request.session.lang == 2 %}ПОИСК{% else %}SEARCH{% endif %}</button>
    </form>
    <div class="styled-select">
        <select name="genre" form="search_form" id="genre_select">
            <option value="" selected disabled>{% if request.session.lang == 2 %}Жанр{% else %}Select genre{% endif %}</option>
            <option value="">{% if request.session.lang == 2 %}Все{% else %}All{% endif %}</option>
            <option value="Comedy">{% if request.session.lang == 2 %}Комедия{% else %}Comedy{% endif %}</option>
            <option value="Sci-Fi">{% if request.session.lang == 2 %}Научно-фантастический{% else %}Sci-Fi{% endif %}</option>
            <option value="Horror">{% if request.session.lang == 2 %}Ужасы{% else %}Horror{% endif %}</option>
            <option value="Romance">{% if request.session.lang == 2 %}Мелодрамма{% else %}Romance{% endif %}</option>
            <option value="Action">{% if request.session.lang == 2 %}Боевик{% else %}Action{% endif %}</option>
            <option value="Thriller">{% if request.session.lang == 2 %}Триллер{% else %}Thriller{% endif %}</option>
            <option value="Drama">{% if request.session.lang == 2 %}Драма{% else %}Drama{% endif %}</option>
            <option value="Crime">{% if request.session.lang == 2 %}Криминал{% else %}Crime{% endif %}</option>
            <option value="Animation">{% if request.session.lang == 2 %}Мультфильм{% else %}Animation{% endif %}</option>
            <option value="Adventure">{% if request.session.lang == 2 %}Приключения{% else %}Adventure{% endif %}</option>
            <option value="Fantasy">{% if request.session.lang == 2 %}Фантастика{% else %}Fantasy{% endif %}</option>
        </select>

        <select name="sort_by" form="search_form" id="sort_by_select">
            <option value="" selected disabled>{% if request.session.lang == 2 %}Сортировать  по{% else %}Sort by{% endif %}</option>
            <option value="rating_desc">{% if request.session.lang == 2 %}Рейтинг: от большего к меньшему{% else %}Rating: from high to low{% endif %}</option>
            <option value="rating_asc">{% if request.session.lang == 2 %}Рейтинг: от меньшего к большему{% else %}Rating: from low to high{% endif %}</option>
            <option value="title_asc">{% if request.session.lang == 2 %}Название: А-Z{% else %}Title: A-Z{% endif %}</option>
            <option value="title_desc">{% if request.session.lang == 2 %}Название: Z-А{% else %}Title: Z-A{% endif %}</option>
            <option value="year_desc">{% if request.session.lang == 2 %}Год: от новых к старым{% else %}Year: from new to old{% endif %}</option>
            <option value="year_asc">{% if request.session.lang == 2 %}Год: от старых к новым{% else %}Year: from old to new{% endif %}</option>

{#            <option value="peers">Peers</option>#}
{#            <option value="seeds">Seeds</option>#}
{#            <option value="download_count">Download count</option>#}
{#            <option value="like_count">Like count</option>#}
{#            <option value="date_added">Date added</option>#}
        </select>

    </div>
    <div class="results-wrap">
        <ul class="result">
            {% if data.data.movie_count > 0 %}
                {% for movie in data.data.movies %}
                    <li class="results-item-wrap">
                        <a href="/player/{{ movie.id }}" title="{{ movie.title_english }}">
                            {% if movie.upl_cover %}
                                <div class="div_poster">
                                    <img src="/media/{{ movie.upl_cover }}" class="poster">
                                </div>
                            {% else %}
                                <div class="div_poster no_poster"></div>
                            {% endif %}
                            <div class="results-item-title">{{ movie.title_english }}</div>
                            <span class="results-item-rating">
                                <i class="far fa-star"></i>
                                {{ movie.rating }}
                            </span>
                            <span class="results-item-year">
                                {{ movie.year }}
                            </span>
                        </a>
                {% endfor %}
            {% else %}
                 <p>{% if request.session.lang == 2 %}Тут должны были быть киношки{% else %}Тhere must be films{% endif %}</p>
            {% endif %}
        </ul>
    </div>
</div>
</div>



{% endblock %}

