{% extends 'index/base.html' %}
{% load static %}
{% block title %}Search{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static "search/styles.css" %}" />
{% endblock %}
{% block script %}
<script src="{% static "search/search.js" %}"></script>
{% endblock %}

{% block main %}

<div class="main">
{% csrf_token %}

{#popup#}
<div class="b-container invisible">
    <div class="b-popup-content">
        <p id="popup_text">Text in Popup</p>
        <button id="popup_ok">OK</button>
    </div>
</div>
<div class="b-popup invisible"></div>
{#popup end#}


<div id="main_search">

    <form id="search_form">
        <input id="head_search_input" type="text" placeholder="film">
        <button id="head_search_btn" type="submit">SEARCH</button>
    </form>
    <div class="results-wrap">
        <ul class="result">
            <li class="results-item-wrap">Тhere must be films</li>
        </ul>
    </div>
</div>
</div>



{% endblock %}

